sudo: required

services:
  - docker

language: java
jdk: openjdk8

before_install:
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH"
  - echo "BRANCH=$BRANCH"
  - echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
  - echo "TRAVIS_EVENT_TYPE=$TRAVIS_EVENT_TYPE"
  - "cp .maven.settings.xml $HOME/.m2/settings.xml"

script:
  - mvn fmt:check verify cobertura:cobertura-integration-test

after_success:
- if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ] ; then
  docker login -u "${DOCKER_GCP_USERNAME}" -p "${DOCKER_GCP_PASSWORD}" "${DOCKER_GCP_REGISTRY}";
  docker push "eu.gcr.io/census-rm-ci/rm/census-rm-actionsvc";
  fi
- bash <(curl -s https://codecov.io/bash)

cache:
  directories:
    - $HOME/.m2

branches:
  only:
    - master
